<!--
  Generated template for the View page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Browse</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-90>
        <figure *ngIf="media.media_type === 'image'">
          <img [src]="url + media.filename">
          <figcaption>
            <h3>{{ media.title }}</h3>
            <p>{{ media.description }}</p>
          </figcaption>
        </figure>
        <video *ngIf="media.media_type === 'video'" controls>
          <source [src]="url + media.filename" [type]="media.mime_type">
        </video>
        <audio *ngIf="media.media_type === 'audio'" controls>
          <source [src]="url + media.filename" [type]="media.mime_type">
        </audio>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
